# Ignore log files
*.log

# Ignore cache files
__pycache__/

# Ignore temporary files
*.tmp*

# Ignore output files
output/
output_cluster/

# Ignore temporary notebook files
.ipynb_checkpoints/
notebooks/*
*.ipynb

# Ignore cluster simulator
run_analyses.sh

# Ignore local paths file
variograd_utils/directories.txt

# Ignore subject pairs file
subject_pairs.txt

# Ignore job scripts
jobs/

# Ignor logs
logs*/
errs*/
*.out
*.err
